In [1]:
#import reader as r
import psycopg2
import psycopg2.extras
#import gm
import pandas as pd

conn = psycopg2.connect(
    user = "user",
    password = "pass", 
    host = "host",
    port = 00000,
    database = "db",
    sslmode = "require"
)

/Users/kennycavanagh/anaconda3/envs/postgrenv/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [2]:
get_messages ="""SELECT *
             FROM public.discord_messages
          """


#get messages
#this gives you multiple rows for each guild a person is in, need to make those move into a single column
get_messages ="""SELECT 
                        DISTINCT dm.content,
                        u.username,
                        dr.role_name as guild,
                        dc.name as channel_name,
                        dm.timestamp
               FROM public.discord_messages dm
               LEFT JOIN public.discord_channels dc
                  ON dc.discord_channel_id = dm.channel_id
               LEFT JOIN public.discord_user u
                  ON u.discord_user_id = dm.author_user_id
               LEFT JOIN public.discord_roles dr
                    ON dr.guild_id = dm.guild_id
          """

# get_messages ="""SELECT 
#                         DISTINCT
#                         u.username,
#                         dm.content,
#                         dm.timestamp
#                FROM public.discord_messages dm
#                LEFT JOIN public.discord_channels dc
#                   ON dc.discord_channel_id = dm.channel_id and dc.name = 'üåû__gm'
#                LEFT JOIN public.discord_user u
#                   ON u.discord_user_id = dm.author_user_id
#                WHERE dm.timestamp >= '2022-05-20'
#           """

get_messages ="""SELECT 
                        u.username,
                        dm.content,
                        dm.timestamp
               FROM public.discord_messages dm
               LEFT JOIN public.discord_user u
                  ON u.discord_user_id = dm.author_user_id
               WHERE dm.timestamp >= '2022-04-20'
          """

messages_df = pd.read_sql(sql=get_messages, con=conn)

content_df = messages_df.content

messages_df.head()

#messages_df.to_excel("/Users/kennycavanagh/Desktop/talentDAO/messages.xlsx")

,username,content,timestamp
0,ItamarGo,@everyone I'm planning to put together the 3rd...,2022-04-20 05:23:06
1,saulthorin,<@892492212775051274>,2022-04-20 06:20:22
2,saulthorin,gm,2022-04-20 08:57:15
3,jamdar,After attending one of the sessions of <@91112...,2022-04-20 09:13:23
4,Mr.Nobody,Looks who's just been on stage at DeSci Amster...,2022-04-20 09:33:55

In [3]:
messages_df.username.value_counts().head(15)

saulthorin                        822
Mr.Nobody                         664
k3nn.eth                          348
liagodoyf                         257
MEE6                              245
lisawocken                        199
Nemo-phd                          144
Panchoüè¥                           118
andysevens                        100
sherifoz                           90
Ene SS Rawa                        79
ivan7538 | The Web3 Consultant     70
Erin                               45
maximus                            44
senad.eth üè¥üßµ                       42
Name: username, dtype: int64

In [4]:
gm_period = messages_df[(messages_df['timestamp'] > '2022-04-20') 
        & (messages_df['content'].str.contains('gm')) ]
        #& (messages_df['guild']=='Verified')]

gm_period.tail()

,username,content,timestamp
4261,Mr.Nobody,gm,2022-07-04 07:45:29
4267,liagodoyf,gm,2022-07-04 12:54:56
4268,liagodoyf,gm everyone! How is your week looking? I‚Äôm pla...,2022-07-04 12:55:29
4271,Panchoüè¥,gm,2022-07-04 13:07:50
4273,saulthorin,gm,2022-07-04 13:32:25

In [5]:
gm_period.content.groupby(gm_period.username).count().sort_values(ascending=False).to_frame()

                                  content
username
saulthorin                             91
Panchoüè¥                                56
k3nn.eth                               46
Nemo-phd                               37
Mr.Nobody                              33
jmluther                               33
sherifoz                               28
liagodoyf                              28
Erin                                   28
lisawocken                             18
MantisClone                            18
z33ma                                   7
senad.eth üè¥üßµ                            7
Ene SS Rawa                             5
metaviews                               4
VKSY53                                  4
restingrichface                         3
Quilia                                  3
Will the Trill                          3
MaxCaspar                               2
jimilaoshi                              2
andysevens                              2
w.a.y.n.e.r.s | NorthCrypto.eth‚Ñ¢        2
Cisco                                   2
israelrex                               1
morte-ch                                1
handsome bubblegum sheep                1
patsginger                              1
paulofonseca                            1
humpty                                  1
Bongo                                   1
flaviapm                                1
espresso                                1
Clayton | UMA                           1
DAOLecturer                             1
David H.                                1
Erick Pinos                             1
JaxCoder | Pharo                        1
Laurenz L.                              1
NateElliott                             1
Og                                      1
RamAmancha                              1
RomanG86                                1
SambhavJ                                1
Sdave                                   1
al3sha                                  1
brekolazh                               1
burneymac755                            1
_y24t_                                  1

In [6]:
get_messages ="""SELECT
                        username
               FROM public.discord_user
          """

messages_df = pd.read_sql(sql=get_messages, con=conn)

username_df = messages_df.username

username_df.to_clipboard()

In [7]:
import pandas as pd
import numpy as np

def bubble_sort(list):
    for i in range(len(list)):
        for j in range(len(list)-1):
            if list[j] > list[j+1]:
                list[j], list[j+1] = list[j+1], list[j]
    return list

list = np.random.randint(0,100,10)
print(list)
print(bubble_sort(list))

[50  3 80 82  1 78 33 58 67 28]
[ 1  3 28 33 50 58 67 78 80 82]